---
const Nombre = "Dylan Daniel Perez Sibaja";

const response = await fetch("https://cataas.com/api/cats?tags=cute");
const data = await response.json();

const { title } = Astro.props;

import '@fortawesome/fontawesome-free/css/all.min.css';

import Timeline from "../components/timeline.astro";
import Navbar from "../components/navbar.astro";
import AboutMe from "../components/aboutMe.astro";
import Maintenance from '../components/maintenance.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <style>
      body {
        background-color: #202020;
        color: white;
        height: 90vh;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <!-- <div style="background-color:#333;">
      <Navbar />
      <AboutMe />
    </div>

    <Timeline /> -->

    <Maintenance />


  </body>
</html>
